:root {
  --neon-blue: rgb(92, 143, 252);
  --neon-blue-hover: rgb(132, 171, 255);
  --neon-pink: rgb(253, 123, 255);
  --yellow-title: rgb(255, 225, 0);
  --background-color: rgb(24, 24, 45);
  --neon-green: rgb(90, 176, 0);
  --neon-saturated-pink: rgb(231, 19, 248);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 5px;
  height: 100%;
  background-color: var(--background-color);

  display: flex;
  flex-direction: column;

  font-family: "Pixelify Sans", sans-serif;
}

p {
  margin: 0;
}

.blue-neon-border {
  border: 2px solid var(--neon-blue);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--neon-blue),
    inset 0 0 10px var(--neon-blue);
  color: var(--neon-blue);
  text-shadow: 0 0 7px var(--neon-blue);
  text-align: center;
}

.pink-neon-border {
  border: 2px solid var(--neon-pink);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--neon-pink),
    inset 0 0 10px var(--neon-pink);
  color: var(--neon-pink);
  text-shadow: 0 0 7px var(--neon-pink);
  text-align: center;
}

header {
  margin: 0 0 20px 0;
  padding: 15px;
  font-size: 18px;
  flex: 0 0 auto;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--yellow-title);
  text-shadow: 0 0 15px var(--yellow-title);
}

main {
  flex: 1;
  display: flex;
  column-gap: 20px;
  min-height: 0;
  max-height: 100%;
}

main>section {
  display: flex;
  align-items: center;
  justify-content: center;


  position: relative;
}

aside {
  flex: 1;

  display: flex;
  flex-direction: column;
  row-gap: 20px;

  justify-content: start;

  padding: 20px;
}

.settings-section {
  margin-bottom: 10px;
}

.volume-row {
  display: flex;
  align-items: centers;

  column-gap: 10px;

  margin-bottom: 10px;
}

.volume-row input {
  flex: 1;

  -webkit-appearance: none;
  border: 3px solid var(--neon-blue);
  border-radius: 2px;

  background-image:
    linear-gradient(to right, transparent 70%, var(--background-color) 70%),
    repeating-linear-gradient(90deg,
      var(--background-color) 0px,
      var(--background-color) 8px,
      var(--neon-blue) 8px,
      var(--neon-blue) 10px);

  box-shadow: 0 0 5px var(--neon-blue),
    inset 0 0 5px var(--neon-blue);

  cursor: pointer;
}

.volume-row input::-webkit-slider-thumb {
  visibility: hidden;
}

#volume-display {
  text-align: left;
}

.guide-list {
  text-align: start;
  font-size: 24px;

  padding-inline-start: 5px;
  list-style-position: inside
}

.guide-list li {
  margin-bottom: 20px;
}

h2 {
  padding: 5px;
  margin: 0 0 20px 0;
}

#crt-monitor {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;

  z-index: 100;
}

#background {
  width: 94%;
  height: 94%;
  object-fit: contain;
  position: absolute;
}

#shopkeeper {
  height: 180px;

  position: absolute;
  transform: translate(-100px, -60px);
}

.shelf {
  position: absolute;
}

.shelf img {
  width: 170px;
}

#shelf-1 {
  transform: translate(-180px, 100px);
}

#shelf-1::after {
  content: 'About';

  position: absolute;
  transform: translate(-107px, 4px);
}

#shelf-2 {
  transform: translate(20px, 100px);
}

#shelf-2::after {
  content: 'Skills';

  position: absolute;
  transform: translate(-105px, 4px);
}

#shelf-3 {
  transform: translate(220px, 100px);
}

#shelf-3::after {
  content: 'Projects';

  position: absolute;
  transform: translate(-120px, 4px);
}

#main-character {
  position: absolute;
  z-index: 50;
  transform: translate(-240px, 100px);
  transition: transform 500ms linear;
}

#main-character-standing {
  height: 180px;
  /* display: none; */
}

#main-character-back {
  height: 180px;
  display: none;
}

#main-character-walking {
  height: 180px;
  display: none;
}

#dialogue-box {
  position: absolute;
  transform: translate(120px, -30px);
  height: 100px;
}

#dialogue-box img {
  width: 350px;
  height: 100%;
}

#dialogue {
  width: 315px;
  color: white;
  text-shadow: 0 0 7px white;
  font-size: 14px;

  transform: translate(23px, -90px);
}

.shopkeeper-speaker-text {
  color: yellow;
  text-shadow: 0 0 7px yellow;
}

#crt-effect {
  background-image:
    repeating-linear-gradient(lightgray 0px, lightgray 1px, gray 3px, gray 4px, lightgray 6px, lightgray 7px);

  width: 100%;
  height: 100%;

  position: absolute;
  z-index: 99;

  opacity: 10%;

  animation: crt-monitor-effect-animation 500ms linear infinite;
}

@keyframes crt-monitor-effect-animation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateY(7px);
  }
}

#music {
  display: none;
}

#volume-up-icon {
  display: none;
}

#volume-up-icon,
#volume-off-icon {
  cursor: pointer;

  transition: color 100ms;
}

#volume-up-icon:hover,
#volume-off-icon:hover {
  color: var(--neon-blue-hover);
}