:root {
  --neon-blue: rgb(92, 143, 252);
  --neon-blue-hover: rgb(132, 171, 255);
  --neon-pink: rgb(253, 123, 255);
  --neon-yellow: rgb(255, 225, 0);
  --background-color: rgb(24, 24, 45);
  --neon-green: rgb(90, 176, 0);
  --neon-saturated-pink: rgb(231, 19, 248);
  --neon-orange: rgb(255, 128, 0);

  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 5px;
  height: 100%;
  background-color: var(--background-color);

  display: flex;
  flex-direction: column;

  font-family: "VT323", monospace;
}

p {
  margin: 0;
}

.white {
  color: white;
}

.darkgray {
  color: black;
}

.neon-orange {
  color: var(--neon-orange);
}

.neon-yellow {
  color: var(--neon-yellow);
  text-shadow: 0 0 7px var(--neon-yellow);
}

.neon-blue {
  color: var(--neon-blue);
  text-shadow: 0 0 7px var(--neon-blue);
}

.neon-blue-no-shadow {
  color: var(--neon-blue);
}

.neon-blue-border {
  border: 2px solid var(--neon-blue);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--neon-blue),
    inset 0 0 10px var(--neon-blue);
  color: var(--neon-blue);
  text-shadow: 0 0 7px var(--neon-blue);
  text-align: center;
}

.neon-pink-border {
  border: 2px solid var(--neon-pink);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--neon-pink),
    inset 0 0 10px var(--neon-pink);
  color: var(--neon-pink);
  text-shadow: 0 0 7px var(--neon-pink);
  text-align: center;
}

header {
  margin: 0 0 20px 0;
  padding: 15px;
  font-size: 18px;
  flex: 0 0 auto;
}

h1 {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--neon-yellow);
  text-shadow: 0 0 15px var(--neon-yellow);
}

main {
  display: flex;
  column-gap: 20px;
  row-gap: 20px;
  min-height: 0;
  max-height: 100%;
}

@media (max-width: 1024px) {
  main {
    flex-direction: column;
  }
}

#game-section {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  aspect-ratio: 1.2648604933279417711281843914274;
}

#loaded-game-section {
  width: 100%;
  aspect-ratio: 1.2648604933279417711281843914274;

  position: absolute;
}

#loading-screen {
  width: 100%;
  aspect-ratio: 1.2648604933279417711281843914274;

  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
}

#loading-message {
  color: white;
  text-shadow: 0 0 7px white;

  animation: blink 2s infinite;
}

aside {
  flex: 1;

  display: flex;
  flex-direction: column;
  row-gap: 20px;

  justify-content: start;

  padding: 20px;
}

.volume-row {
  display: flex;
  align-items: centers;
  justify-content: space-between;
  width: 100%;

  column-gap: 10px;

  margin-bottom: 10px;

  font-size: 1.8rem;
}

.volume-row input {
  flex: 1;

  -webkit-appearance: none;
  border: 3px solid var(--neon-blue);
  border-radius: 2px;

  background-image:
    linear-gradient(to right, transparent 70%, var(--background-color) 70%),
    repeating-linear-gradient(90deg,
      var(--background-color) 0px,
      var(--background-color) 8px,
      var(--neon-blue) 8px,
      var(--neon-blue) 10px);

  box-shadow: 0 0 5px var(--neon-blue),
    inset 0 0 5px var(--neon-blue);

  cursor: pointer;
}

.volume-row input::-webkit-slider-thumb {
  visibility: hidden;
}

.volume-row input::-moz-range-thumb {
  visibility: hidden;
}

#guide-list {
  text-align: start;
  font-size: 24px;

  padding-inline-start: 5px;
  list-style-position: inside;

  display: none;
}

#guide-list li {
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  padding: 5px;
  margin: 0 0 20px 0;
}

#crt-monitor {
  width: 100%;
  height: 100%;
  object-fit: contain;

  z-index: 100;

  pointer-events: none;
}

#background {
  width: 94%;
  height: 94%;
  object-fit: contain;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#shopkeeper {
  width: 19%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-130%, -80%);
}

.shelf {
  position: absolute;

  cursor: pointer;
  pointer-events: none;

  width: 23%;
}

.shelf img {
  width: 100%;
}

#shelf-1 {
  top: 50%;
  left: 50%;
  transform: translate(-150%, 40%);
}

#shelf-2 {
  top: 50%;
  left: 50%;
  transform: translate(-40%, 40%);
}

#shelf-3 {
  top: 50%;
  left: 50%;
  transform: translate(70%, 40%);
}

.shelf-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -260%);

  font-size: 2rem;
}

#main-character-container {
  width: 8.4%;
  aspect-ratio: 0.35602094240837696335078534031414;
  position: absolute;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-430%, 0);
  transition: transform 500ms linear;
}

#main-character-image {
  height: 100%;
}

#dialogue-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -75%);
  width: 45.4%;
}

#dialogue-box img {
  width: 100%;
}

#dialogue {
  position: absolute;
  top: 12%;
  left: 7%;
  width: 87%;
  color: white;
  text-shadow: 0 0 7px white;
}

.shopkeeper-speaker-text {
  color: yellow;
  text-shadow: 0 0 7px yellow;
}

#crt-effect {
  background-image:
    repeating-linear-gradient(lightgray 0px, lightgray 1px, gray 3px, gray 4px, lightgray 6px, lightgray 7px);

  opacity: 10%;

  animation: crt-monitor-effect-animation 500ms linear infinite;

  border-radius: 30px;

  width: 100%;
  aspect-ratio: 1.33;

  position: absolute;
  z-index: 99;
}

@keyframes crt-monitor-effect-animation {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateY(7px);
  }
}

#music {
  display: none;
}

#volume-up-icon {
  display: none;
}

#volume-up-icon,
#volume-off-icon {
  cursor: pointer;

  transition: color 100ms;
}

#volume-up-icon:hover,
#volume-off-icon:hover {
  color: var(--neon-blue-hover);
}

#start-message {
  color: var(--neon-orange);
  text-shadow: 0 0 7px var(--neon-orange);
  font-size: 28px;

  animation: blink 2s infinite;

  margin-bottom: 24px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 100%;
  }

  100% {
    opacity: 0;
  }
}

#modal {
  background-color: rgba(0, 0, 0, 60%);

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;

  z-index: 98;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal-slide-container {
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#previous-button img {
  transform: scaleX(-1);
}

.slide-button {
  background: none;
  border: none;

  cursor: pointer;
}

.slide-button img {
  width: 100%;
}

#slide-image-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
}

#slide-image {
  width: 100%;
  cursor: pointer;
}

#modal-bottom-row {
  width: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

#toggle-side-button {
  background: none;
  border: none;

  font-family: "VT323", monospace;
  color: var(--neon-yellow);
  font-size: 24px;

  cursor: pointer;
}

#slide-back-content {
  position: absolute;
  top: 0;

  padding: 10%;

  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#slide-back-content a {
  pointer-events: auto;
}

#level-container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

#level-container p {
  display: inline-block;
}

#level-progress-bar {
  background-color: lightgray;
  border: 2px solid gray;

  flex: 0.6;
  height: 15px;

  margin: 10px;

  display: flex;
  justify-content: left;
}

.level-progress {
  background-color: rgb(80, 176, 80);
  border: 1px solid green;
  border-block: none;

  width: 10%;
  height: 100%;
}

#back-button {
  background: none;
  border: none;

  font-family: "VT323", monospace;
  color: var(--neon-yellow);
  font-size: 24px;

  cursor: pointer;

  position: absolute;
  top: 15%;
  left: 15%;
}